* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: Courier;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #282726;
  min-width: 100vw;
}

.search-form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  background-color: #595d60;
  height: 48px;
  font-size: 25px;
  color: white;
  font-family: Courier;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.submit-button {
  background-color: #595d60;
  height: 48px;
  border: none;
  padding: 0.5rem;
  outline: none;
}

.search-svg {
  fill: white;
}

.logo {
  margin: 1rem;
  fill: white;
}

.repo-container {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #282726;
  padding: 1rem;
  color: #282726;
}

.repo-container:hover {
  background-color: #282726;
  color: white;
}

#repo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.info-container {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
  padding-top: 1rem;
}

.info-container p {
  margin: 10px;
}

.repo-link {
  text-decoration: none;
}

.lan-icon,
.star {
  fill: yellow;
}
