* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: Courier;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #282726;
  min-width: 100vw;
}

.search-form {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  background-color: #595d60;
  height: 48px;
  font-size: 25px;
  color: white;
  font-family: Courier;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.submit-button {
  background-color: #595d60;
  height: 48px;
  border: none;
  padding: 0.5rem;
  outline: none;
}

.search-svg {
  fill: white;
}

.logo {
  margin: 1rem;
  fill: white;
}
